<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample m-3">
            <button class="btn btn-success" v-on:click="addNumber()">Add number</button>
            <button class="btn btn-primary" v-on:click="sortNumbers()">Sort</button>
            <button class="btn btn-primary" v-on:click="sortReverseNumbers()">Sort reverse</button>
            <ul>
                <li v-for="(num, i) in numbers"
                    @mouseenter="onMouseEnter($event, i)"
                    @mouseleave="onMouseLeave($event, i)"
                >
                    {{ num }} (index is {{ i }})
                </li>
            </ul>
            <hr>
            <table class="table table-bordered">
                <tr v-for="(value, key, i) in info" :key="key">
                    <td> {{ i }} </td>
                    <td> {{ key }} </td>
                    <td> {{ value }} </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        new Vue ({
            el: '.sample',
            data: {
                numbers: [10, 20],
                info: {
                    name: 'Kate',
                    surname: 'Polyakova'
                }
            },
            methods : {
                addNumber() {
                    this.numbers.push(Math.floor(Math.random() * 10));
                },
                sortNumbers() {
                    this.numbers.sort((a, b) => a - b);
                },
                sortReverseNumbers() {
                    this.numbers.sort((a, b) => b - a);
                },
                onMouseEnter(e, i) {
                    if (i & 1) {
                        e.target.style.color = 'red';
                    } else {
                        e.target.style.color = 'blue';
                    }
                },
                onMouseLeave(e, i) {
                    e.target.style.color = 'black';
                }
            }
        });
    </script>
</body>
</html>