<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="js/vue.js"></script>
    <style>
        .alert {
            transition: min-height 0.5s;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="sample m-3">
            <div class="alert" :style="[properties, minHeight]">
                Some text
            </div>
            <table class="table table-bordered">
                <tr v-for="(value, name) in properties">
                    <td> {{ name }} </td>
                    <td>
                        <input type="text" v-model="properties[name]">
                    </td>
                </tr>
            </table>
            <hr>
            <button class="btn btn-primary" @click="height+=50">+ height</button>
            {{ minHeight }}
        </div>
    </div>
    <script>
        new Vue ({
            el: '.sample',
            data: {
                properties: {
                    color: 'inherit',
                    backgroundColor: 'none'
                },
                height: 0
            },
            computed: {
                minHeight() {
                    return {
                        minHeight: this.height + 'px'
                    }
                }
            }
        });
    </script>
</body>
</html>